* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#openModal {
  padding: 10px 16px;
  margin: 20px;
  cursor: pointer;
}


.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: #fff;
  width: 90%;
  max-width: 400px;
  margin: 30px auto;
  border-radius: 6px;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f2f2f2;
}
https://www.svgrepo.com/show/345221/three-dots.svg
.modal-body {
  padding: 10px;
}

.close-modal {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
